<!DOCTYPE html>{% load static %}
<html>
<head>
  <link rel="shortcut icon" href="{% static 'shipping/img/favicon.ico' %}" />
  <style>
    label{width:100px;display:inline-block}
    input{width:100px}
    div#output{border:solid 1px #000; background-color:#cfcfcf; font-family:monospace; padding:20px}
    div.left{width:40%;float:left}
    div.right{width:40%;float:right}
    div.clear{clear:both}
  </style>
</head>

<body>
<div id="form-div" class="left">
  <form id="order-info">
    <div class="left">
      <p>
        <label for="zipcode">Zipcode:</label><input type="number" name="zipcode" id="zipcode" required/>
      </p>

      <p>
        <label for="sku1">SKU 1:</label><input type="text" name="sku1" id="sku1" required/><br/>
        <label for="weight1">Weight 1:</label><input type="number" name="weight1" id="weight1" required/><br/>
        <label for="qty1">Qty 1:</label><input type="number" name="qty1" id="qty1" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku2">SKU 2:</label><input type="text" name="sku2" id="sku2"/><br/>
        <label for="weight2">Weight 2:</label><input type="number" name="weight2" id="weight2"/><br/>
        <label for="qty2">Qty 2:</label><input type="number" name="qty2" id="qty2" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku3">SKU 3:</label><input type="text" name="sku3" id="sku3"/><br/>
        <label for="weight3">Weight 3:</label><input type="number" name="weight3" id="weight3"/><br/>
        <label for="qty3">Qty 3:</label><input type="number" name="qty3" id="qty3" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku4">SKU 4:</label><input type="text" name="sku4" id="sku4"/><br/>
        <label for="weight4">Weight 4:</label><input type="number" name="weight4" id="weight4"/><br/>
        <label for="qty4">Qty 4:</label><input type="number" name="qty4" id="qty4" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku5">SKU 5:</label><input type="text" name="sku5" id="sku5"/><br/>
        <label for="weight5">Weight 5:</label><input type="number" name="weight5" id="weight5"/><br/>
        <label for="qty5">Qty 5:</label><input type="number" name="qty5" id="qty5" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku6">SKU 6:</label><input type="text" name="sku6" id="sku6"/><br/>
        <label for="weight6">Weight 6:</label><input type="number" name="weight6" id="weight6"/><br/>
        <label for="qty6">Qty 6:</label><input type="number" name="qty6" id="qty6" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku7">SKU 7:</label><input type="text" name="sku7" id="sku7"/><br/>
        <label for="weight7">Weight 7:</label><input type="number" name="weight7" id="weight7"/><br/>
        <label for="qty7">Qty 7:</label><input type="number" name="qty7" id="qty7" placeholder="optional"/><br/>
      </p>
    </div>

    <div class="right">
      <p>
        <input type="submit" name="submit" id="submit" value="Submit" style="width:200px;height:80px" />
      </p>

      <p>
        <label for="sku8">SKU 8:</label><input type="text" name="sku8" id="sku8"/><br/>
        <label for="weight8">Weight 8:</label><input type="number" name="weight8" id="weight8"/><br/>
        <label for="qty8">Qty 8:</label><input type="number" name="qty8" id="qty8" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku9">SKU 9:</label><input type="text" name="sku9" id="sku9"/><br/>
        <label for="weight9">Weight 9:</label><input type="number" name="weight9" id="weight9"/><br/>
        <label for="qty9">Qty 9:</label><input type="number" name="qty9" id="qty9" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku10">SKU 10:</label><input type="text" name="sku10" id="sku10"/><br/>
        <label for="weight10">Weight 10:</label><input type="number" name="weight10" id="weight10"/><br/>
        <label for="qty10">Qty 10:</label><input type="number" name="qty10" id="qty10" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku11">SKU 11:</label><input type="text" name="sku11" id="sku11"/><br/>
        <label for="weight11">Weight 11:</label><input type="number" name="weight11" id="weight11"/><br/>
        <label for="qty11">Qty 11:</label><input type="number" name="qty11" id="qty11" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku12">SKU 12:</label><input type="text" name="sku12" id="sku12"/><br/>
        <label for="weight12">Weight 12:</label><input type="number" name="weight12" id="weight12"/><br/>
        <label for="qty12">Qty 12:</label><input type="number" name="qty12" id="qty12" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku13">SKU 13:</label><input type="text" name="sku13" id="sku13"/><br/>
        <label for="weight13">Weight 13:</label><input type="number" name="weight13" id="weight13"/><br/>
        <label for="qty13">Qty 13:</label><input type="number" name="qty13" id="qty13" placeholder="optional"/><br/>
      </p>

      <p>
        <label for="sku14">SKU 14:</label><input type="text" name="sku14" id="sku14"/><br/>
        <label for="weight14">Weight 14:</label><input type="number" name="weight14" id="weight14"/><br/>
        <label for="qty14">Qty 14:</label><input type="number" name="qty14" id="qty14" placeholder="optional"/><br/>
      </p>
    </div>

    <div class="clear">&nbsp;</div>
  </form>
</div>

{% if cheapest %}
<div id="output" class="right">
  {% for box in cheapest.boxes %}
  <p>
    <b>Box {{ forloop.counter }}</b><br />
    Weight: {{ box.weight }} oz<br />
    Cost: ${{ box.shipping_cost }}<br />
    Carrier: {{ box.shipping_method }}<br />
    Items: {{ box.items|join:", " }}
  {% endfor %}
  <p>Total Cost: ${{ cheapest.shipping_cost }}</p>
</div>
{% endif %}

</body>
</html>
